<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/static/pic_1v1_script.js" type="module"></script>
    <link rel="stylesheet" href="/static/pic_1v1_style.css">
    
    <title>1 VS 1</title>
</head>
<body>
    <div class="countdown"><p id="remaining_time">60</p></div>
    <div class="pic_area" id="arena">
        <h1 class="vote_instruction">1</h1>
        <div class="pic1"><img src="" class="pic" id="pic1"></div>
        <div class="name1"><p id="name1"></p></div>
        <h1 class="vote_instruction">2</h1>
        <div class="pic2"><img src="" class="pic" id="pic2"></div>
        <div class="name2"><p id="name2"></p></div>
    </div>
    <div class="controls">
        <button id="get_cur_match">Aktuelles Match anzeigen</button>
    </div>
</body>
</html>