<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/tourney_tree_script.js" type="module"></script>
    <link rel="stylesheet" href="/static/tourney_tree_style.css">

    <title>Tournament Tree</title>
</head>
<body>
    <div class="full_display">
        <div class="tree_area">
            {% for i in range(0, tournament_count) %}
                <div class="tree_round" id="round_{{ i }}"></div>
            {% endfor %}
        </div>
    </div>
    <div class="controls">
        <button id="controls_update_standings">Update Standings</button>
        <button id="controls_prepare_match">Prepare Match</button>
        <button id="controls_end_match">End Match</button>
    </div>
    <div class="podest" id="final_podest">
        <h1 id="fp_heading">1</h1>
        <img src="" alt="" class="first_place_img" id="first_place_img">
        <p class="first_place_name" id="first_place_name"></p>

        <h1 id="sp_heading">2</h1>
        <img src="" alt="" class="second_place_img" id="second_place_img">
        <p class="second_place_name" id="second_place_name"></p>
        
        <h1 id="tp_heading">3</h1>
        <img src="" alt="" class="third_place_img" id="third_place_img">
        <p class="third_place_name" id="third_place_name"></p>
    </div>
</body>
</html>